<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Schedule Form</title>
    <link rel="stylesheet" href="/css/schedule-form.css">
</head>
<body>
<div class="page-wrapper">
    <div class="form-wrapper">
        <h1 class="form-title">일정(Schedule) 등록</h1>
        <form method="post" th:object="${scheduleFormDto}">
            <div class="form-item">
                <label for="title">Title:</label>
                <input type="text" id="title" name="title" th:field="*{title}" required/>
            </div>
            <div class="form-item">
                <label for="description">Description:</label>
                <div class="description-wrapper">
                    <textarea id="description" name="description" th:field="*{description}" class="description" required></textarea>
                </div>
            </div>
            <div class="form-item datetime-input">
                <div>
                    <label for="startTime">Start Time:</label>
                    <input type="datetime-local" id="startTime" name="startTime" th:field="*{startTime}" required/>
                </div>
                <div>
                    <label for="endTime">End Time:</label>
                    <input type="datetime-local" id="endTime" name="endTime" th:field="*{endTime}" required/>
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="form-submit">저장</button>
                <a th:href="@{/schedule/list}" class="form-cancel">취소</a>
            </div>
        </form>
    </div>
</div>
</body>
<script>
    const title = document.querySelector('#title');
    title.focus();
    const description = document.querySelector('.description');
    description.addEventListener('click', function() {
        this.classList.toggle('expanded');
    });
    const now = new Date();
    const offset = now.getTimezoneOffset() * 60000; // UTC 기준 offset (밀리초 단위)
    const formattedNow = new Date(now.getTime() - offset).toISOString().slice(0, 16);
    document.getElementById('startTime').value = formattedNow;
    now.setDate(now.getDate() + 1); // 현재 날짜에서 하루를 더해줍니다.
    const formattedTomorrow = new Date(now.getTime() - offset).toISOString().slice(0, 16);
    document.getElementById('endTime').value = formattedTomorrow;
</script>
</html>